<h1>隱私權政策</h1>

本網站絕對尊重各位使用者的隱私權，請詳閱下列本網站的隱私權保護政策（Privacy Policy），以協助您瞭解本網站蒐集、應用及保護使用者所提供的個人資訊。
<br />
本網站將不時修訂本政策，當我們在使用個人資料的規定上作出大幅修改時，我們會透過會員電子信箱通知相關事項。
<br />
<br />
個人資料之取得
<br />
瀏覽本站並不必輸入個人資料，本網站個人資料取得方式說明如下。 會員註冊：當使用者登入時會自動註冊成為本站會員時，本網站會透過第三方登入平台處取得個人資料。
<br />
除了上述，本網站會保留使用者在上網瀏覽或查詢時於伺服器自行產生的相關記錄，包括連線的IP位址、使用時間、使用的瀏覽器、瀏覽以及點選的資料和紀錄等。這些資料係供本站內部作網站流量和網路行為調查的總量分析，以利於提昇網站的服務品質，且僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。
<br /><br />
個人資料之運用
<br />
當使用者在本網站主動註冊成為會員後，其資料僅供本站依服務或活動設計參考使用。 
<br /><br />
個人資料之修改<br />
使用者在本網站中註冊會員後，可以隨時利用使用者的帳號和密碼更改之前輸入的個人資料。<br /><br />

不與第三者共用個人資料<br />
本網站不會任意出售、交換或出租任何使用者個人資料給其他第三者。<br /><br />

Cookies的運用<br />
Cookies讓網站伺服器 (Web Server) 能夠辨識使用者的資料。<br />
一般網頁被讀取時，伺服器無法辨識使用者是否曾經來過以及來過的時間次數等資料，於是瀏覽網頁時，伺服器將一段簡短資訊經由瀏覽器寫入使用者硬碟，下次瀏覽器在要求伺服器傳回網頁之前，會將Cookie的資料先傳給伺服器，伺服器可依據 Cookie的資料來判斷使用者，有了使用者的造訪資料，網頁伺服器可分析並針對不同讀者之不同喜好，執行不同的動作或傳回特定的資訊。本網站會在下列情況下，在您瀏覽器中寫入並讀取Cookies：
<br />
一、為提供更好、更個人化的服務，以及方便您參與個人化的互動活動 。
<br />
二、為統計瀏覽人數及分析瀏覽模式，以了解網頁瀏覽的情況，做為本網站改善服務的參考。如果您選擇拒絕所有的Cookies，可能無法使用部份個人化服務，或是參與部份的活動，您可以在瀏覽器中選擇修改對 Cookies的接受程度，包括接受所有Cookies、設定Cookies時得到通知、拒絕所有Cookies等。  
<br /><br />
Facebook資料刪除指示<br />
本站登入有使用 Facebook 登入應用。並根據 Facebook 的政策，我們必須提供 "Facebook資料刪除指示的網址"。<br />
如果您想刪除與本站有關的 Facebook 登入應用數據，您可以造訪這個網頁，依照指示進行刪除。
<br />
您也可以點此 聯絡我們 連結，我們將協助您刪除本站的資料
<br /><br />
保護兒童之隱私權<br />
本網站不會與第三者共享年齡小於十三歲的使用者之個人資料，並且不會出售及出租使用者之個人資料。<br /><br />

資料安全<br />
本網站將盡力以合理之技術及程序，保障所有個人資料之安全。<br /><br />

隱私權保護政策諮詢<br />
若對本網站中的隱私權政策有任何問題，請利用客服信箱(dream85123@gmail.com)反映，我們將盡速回覆。